.view-area {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -11;
}

.scroller {
  display: block;
  width: 98vw;
  height: 500vh;
}

.section-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw;
  height: 200vh;
}

.section-container section {
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  width: 100vw;
  height: 85vh;
}

.section-container section.active {
  display: block;
}

.horizontal {
  float: left;
}
.vertical {
  clear: both;
}
