:root {
  --main-font: #252323;
  --secondary-font: #737373;
  --active: rgb(219, 2, 53);
}

html {
  scroll-behavior: smooth;
}

h5 {
  font-weight: 400;
  color: var(--secondary-font);
}

.nav-item a {
  position: relative;
  display: inline-block;
  margin: 0;
}

.nav-item:not(.dropdown) a:after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--active);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-item .ef2:hover:after {
  transition-delay: 150ms;
}

.nav-item a:hover:after {
  transform: scaleX(1);
}

.dropdown-menu {
  border: 0;
  background: transparent;
}

.dropdown-menu a {
  background: transparent;
}

.dropdown-menu li a:after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--active);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #1e2125;
  background-color: transparent !important;
}

.slogan {
  margin-top: 10%;
}

.poster1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -90%;
}

.navbar-light .navbar-toggler {
  color: white;
  border: none;
  box-shadow: none;
}

.container {
  margin-top: 60px;
  max-width: 100%;
}

.left-container {
  display: flex;
  margin-top: auto;
  margin-bottom: 0;
}

.bottom {
  width: 100%;
  height: 40px;
  color: rgb(186, 185, 185);
  display: flex;
  align-items: flex-end;
  font-size: smaller;
}

.locker {
  opacity: 0;
  padding: 0 5%;
  gap: 20px;
  position: fixed;
  visibility: hidden;
  z-index: 1;
}

.locker a img:hover {
  cursor: pointer;
  height: 80px;
}

#poster1 {
  z-index: -1000;
}

#reuseimg {
  width: 25px;
  height: 25px;
}

.gallery {
  margin-top: 12%;
  height: 520px;
  background: url(../img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery div {
  margin-top: 6.5%;
  z-index: -100;
  height: 67%;
  padding: 0 3% 0 0 !important;
}

.gallery div.weather {
  background-image: url(../img/11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  height: 100%;
  margin-right: 10px;
  border-radius: 25px;
}

.section5 {
  padding: 12% 5%;
}

@media only screen and (max-width: 991px) {
  body {
    background-color: var(--active);
  }
  .gallery {
    margin-top: 40%;
    line-height: 1;
    padding: 25% 0 0 0 !important;
  }
  .gallery div.weather {
    margin: 0 !important;
    height: 100%;
    margin-right: 10px;
    border-radius: 15px;
  }
  .section5 {
    padding: 22% 0 0 0;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    font-size: 30px;
  }
  h4 {
    font-size: 36px;
  }
  h5 {
    font-size: 32px;
  }
  .gallery {
    height: 800px;
  }
  .locker img {
    width: 120px !important;
  }
}
